<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membros: lista</title>
</head>

<body>

    <h1>LISTA - MEMBROS</h1>
    <hr>
    <br>

    <h2>Filtrar Membros</h2><br>
    <form action="/filtrarMembro" method="post">
        <input type="search" placeholder="Use % como coringa" aria-label="Search">
        <button class="btn" type="submit" name="filtrar" value="Filtrar">Filtrar</button>
    </form>
    <br><br>

    <a href="/formMembro">Novo Membro do Clube/a><br><br>
    <a href="/">Voltar para Tela Principal</a>&nbsp;

    <form action="/gerenciarMembro" method="post">
        <input type="submit" name="acao" value="Excluir">
        <input type="submit" name="acao" value="Atualizar">

        <table>
            <tr>
                <th>MEMBROS</th>
                <th>Nome</th>
                <th>Turma</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Curso</th>
                <th>Ano</th>
                <th>Escola</th>
                <th>Matrícula</th>
                <th>Endereco</th>
                <th>Cargo</th>
            </tr>

            <% membro.forEach((mem, index)=> { %>
                <tr>
                    <td>
                        <input type="radio" name="cargo" value="<%= mem.matricula %>">
                    </td>

                    <td>
                        <%= mem.nome %>
                    </td>

                    <td>
                        <%= mem.turma %>
                    </td>

                    <td>
                        <%= mem.telefone %>
                    </td>

                    <td>
                        <%= mem.email %>
                    </td>

                    <td>
                        <%= mem.curso %>
                    </td>

                    <td>
                        <%= mem.ano %>
                    </td>

                    <td>
                        <%= mem.escola %>
                    </td>

                    <td>
                        <%= mem.matricula %>
                    </td>

                    <td>
                        <%= mem.endereco %>
                    </td>
                </tr>
                <% }) %>
        </table>
    </body>
</html>